{% extends "_base.html" %}

{% block title %}About Us{% endblock %}
{% block main %}
  <div class="mb-2">
    <div class="jumbotron">
      <div class="about-title">About Us</div>
      <div class="about-title-caption">
        Our goal is to make learning more fun.
      </div>
    </div>
    <div class="w-75 m-auto">
      <div class="row align-items-center m-auto"></div>
      <br />
      <div class="row align-items-center justify-content-between">
        <div class="display-4 col-md-3 col-sm-12 p-1 about-body-title">
          About us:
        </div>
        <div class="col-md-8 col-sm-12 p-1 about-body-caption">
          Our team was put together with one common goal in mind: To make as
          many people as we can WANT to learn things. We believe that we are
          held back as a species because there is a lack of excitement and
          innovation when it comes to education.
        </div>
      </div>
      <hr />
      <br />
      <div class="row align-items-center justify-content-between">
        <div class="col-sm-12 display-4 d-block d-md-none about-body-title">
          Our Mission:
        </div>
        <div class="col-md-8 col-sm-12 about-body-caption">
          Our team was put together with one common goal in mind: To make as
          many people as we can WANT to learn things. We believe that we are
          held back as a species because there is a lack of excitement and
          innovation when it comes to education.
        </div>
        <div class="col-3 display-4 d-none d-md-block about-body-title">
          :Our Mission
        </div>
      </div>
      <br />
      <hr />
      <br />
      <div class="row align-items-center justify-content-between">
        <div class="display-4 col-md-3 col-sm-12 p-1 about-body-title">
          Our Success:
        </div>
        <div class="col-md-8 col-sm-12 p-1 about-body-caption">
          We have had a tremendous amount of success across the country. So much
          success that I am too busy having success to actually spend the time
          to write a decent paragraph about the success that we have had.
        </div>
      </div>
    </div>
    <br />
  </div>
{% endblock %}